@import "../../../../scss/colors";

.select-or-tabs {
  .mobile {
    .select {
      background-color: $tangerineDarker;

      select {
        background-color: $tangerineDarker;
        appearance: none;
      }
    }

    .products {
      background-color: $tangerine;
    }
  }
}
