@import "../../../../scss/colors";

.select-or-tabs {
  .mobile {
    .select {
      background-color: $tangerineDarker;

      select {
        option {
          background-color: $tangerine;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }

    .products {
      background-color: $tangerine;
    }
  }
}
