@import "../../../scss/colors";

.logo-menu-and-cart {
  .mobile-menu {
    background-color: $tangerine;
  }

  #mobile-menu a {
    background-color: transparent;
    color: white;
  }

  .desktop-menu {
    .dropdown-toggle::after {
      position: absolute;
      top: 18px;
    }
  }

  .logo-menu-and-cart__logo {
    width: 143px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 120px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      width: 114px;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }
  }
}
