@import "../../../scss/colors";

.logo-menu-and-cart {
  .navbar {
    background-color: $tangerine;

    @media (min-width: 992px) {
      background-color: transparent;
    }

    .nav-item {
      a,
      button {
        color: white;
        transition: 300ms all ease;

        @media (min-width: 992px) {
          color: black;
        }
      }

      a:hover {
        color: $tangerine;
      }

      .dropdown-menu {
        border-color: rgba($color: white, $alpha: 0.2);
      }
    }
  }

  .logo-menu-and-cart__logo {
    width: 143px;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 120px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      width: 114px;
    }
  }
}
