@import "../../../scss/colors";

.logo-menu-and-cart {
  // NAVBAR
  .navbar {
    background-color: $tangerine;

    @media (min-width: 992px) {
      background-color: transparent;
    }

    .nav-item {
      a,
      button {
        color: white;
        transition: 300ms all ease;

        @media (min-width: 992px) {
          color: black;
        }
      }

      a:hover {
        color: $tangerine;
      }

      .dropdown-menu {
        border-color: rgba($color: white, $alpha: 0.2);
      }
    }
  }

  // LOGO
  .logo-menu-and-cart__logo {
    width: 143px;

    @media (min-width: 768px) {
      width: 120px;
    }

    @media (min-width: 992px) {
      width: 114px;
    }
  }

  // CART
  .cart {
    .dropdown {
      .dropdown-toggle {
        position: relative;

        &::after {
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
