.row {
  margin-left: 0;
  margin-right: 0; }

.container .row {
  margin-left: -15px;
  margin-right: -15px; }

.header {
  color: white;
  background-color: black; }
  .header .header__left-column {
    background-color: white;
    color: black; }
    @media (min-width: 768px) {
      .header .header__left-column {
        background-color: black;
        color: white; } }
  .header .custom-select option {
    background-color: black; }

.logo-menu-and-cart .mobile-menu {
  background-color: #fd926d; }

.logo-menu-and-cart #mobile-menu a {
  background-color: transparent;
  color: white; }

.logo-menu-and-cart .desktop-menu .dropdown-toggle::after {
  position: absolute;
  top: 18px; }

.logo-menu-and-cart .logo-menu-and-cart__logo {
  width: 143px; }
  @media (min-width: 768px) {
    .logo-menu-and-cart .logo-menu-and-cart__logo {
      width: 120px; } }
  @media (min-width: 992px) {
    .logo-menu-and-cart .logo-menu-and-cart__logo {
      width: 114px; } }
