.row {
  margin-left: 0;
  margin-right: 0; }

.container .row {
  margin-left: -15px;
  margin-right: -15px; }

.header {
  background-color: white; }
  .header .header__right-column {
    background-color: black;
    color: white; }
  @media (min-width: 768px) {
    .header {
      background-color: black;
      color: white; } }
  .header .custom-select option {
    background-color: black; }

.logo-menu-and-cart .navbar {
  background-color: #fd926d; }
  @media (min-width: 992px) {
    .logo-menu-and-cart .navbar {
      background-color: transparent; } }
  .logo-menu-and-cart .navbar .nav-item a,
  .logo-menu-and-cart .navbar .nav-item button {
    color: white;
    transition: 300ms all ease; }
    @media (min-width: 992px) {
      .logo-menu-and-cart .navbar .nav-item a,
      .logo-menu-and-cart .navbar .nav-item button {
        color: black; } }
  .logo-menu-and-cart .navbar .nav-item a:hover {
    color: #fd926d; }
  .logo-menu-and-cart .navbar .nav-item .dropdown-menu {
    border-color: rgba(255, 255, 255, 0.2);
    background: transparent; }
    @media (min-width: 992px) {
      .logo-menu-and-cart .navbar .nav-item .dropdown-menu {
        background-color: white; } }

.logo-menu-and-cart .logo-menu-and-cart__logo {
  width: 143px; }
  @media (min-width: 768px) {
    .logo-menu-and-cart .logo-menu-and-cart__logo {
      width: 120px; } }
  @media (min-width: 992px) {
    .logo-menu-and-cart .logo-menu-and-cart__logo {
      width: 114px; } }

.logo-menu-and-cart .cart .dropdown .dropdown-toggle {
  position: relative; }
  .logo-menu-and-cart .cart .dropdown .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%); }

.logo-menu-and-cart .cart .summary {
  text-transform: uppercase; }

.hero-slider {
  position: relative;
  margin-bottom: 74px; }
  .hero-slider .carousel-control-prev,
  .hero-slider .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 117px;
    background-color: #ffffff; }
    .hero-slider .carousel-control-prev i,
    .hero-slider .carousel-control-next i {
      color: black; }
  .hero-slider .carousel-control-prev {
    left: 0; }
  .hero-slider .carousel-control-next {
    right: 0; }
  .hero-slider .carousel-indicators {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%); }
    .hero-slider .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #867a76; }
      .hero-slider .carousel-indicators li.active {
        background-color: #fd926d; }
  .hero-slider .carousel-item {
    height: 40vw; }
    .hero-slider .carousel-item .main-row {
      position: relative; }
      .hero-slider .carousel-item .main-row .bg-image {
        position: absolute;
        width: 100vw;
        height: 100%;
        object-fit: cover; }
